@import url("../root.css");

.chatWindow {
  display: var(--flex);
  flex-direction: var(--flex-column);
  height: 100%;
}
.chatWindow--header {
  height: var(--size60);
  border-bottom: 1px solid #ccc;
  display: var(--flex);
  justify-content: var(--spaceBetween);
  align-items: var(--center);
}
.chatWindow--headerinfo {
  display: var(--flex);
  align-items: var(--center);
  cursor: var(--cursorPointer);
}
.chatWindow--headeravatar {
  height: var(--size40);
  width: var(--size40);
  border-radius: 50%;
  margin: var(--size0) var(--size15);
}
.chatWindow--headername {
  font-size: 17px;
  color: #000;
}
.chatWindow--headerbuttons {
  display: var(--flex);
  align-items: var(--center);
  margin: var(--size0) var(--size15);
}
.chatWindow--btn {
  height: var(--size40);
  width: var(--size40);
  border-radius: 50%;
  display: var(--flex);
  justify-content: var(--center);
  align-items: var(--center);
  cursor: var(--cursorPointer);
  transition: all ease 3s;
}
.chaticon {
  color: var(--color5);
}

.chatWindow--body {
  flex: 1;
  overflow-y: auto;
  background-color: #ededed;
  background-size: cover;
  background-position: var(--center);
  background-image: url("https://uploaddeimagens.com.br/images/004/631/210/full/bk.png?1696770087");
}
.chatWindow--footer {
  height: 62px;
  display: var(--flex);
  align-items: var(--center);
}
.chatWindow--pre,
.chatWindow--pos {
  display: var(--flex);
}
.chatWindow--pre {
  margin: var(--size0) var(--size15);
}
.chatWindow--inputarea {
  flex: 1;
}
.chatWindow--input {
  width: 100%;
  height: var(--size40);
  border: var(--size0);
  outline: var(--size0);
  background-color: #fff;
  border-radius: var(--size20);
  font-size: var(--size15);
  color: #4a4a4a;
  padding-left: var(--size15);
}
.chatWindow--pos {
  margin: var(--size0) var(--size15);
}

.chatWindow--emojiarea {
  height: 350px;
  overflow-y: hidden;
  transition: all ease 0.5s;
}
aside.EmojiPickerReact {
  width: auto !important;
  background: none;
}
.epr-emoji-list .epr-emoji-category-label {
  background: none !important;
}
