@import url("./root.css");

.app-window {
  display: var(--flex);

  height: 100vh;
  background-color: var(--bg2);
}
.sidebar {
  width: 35%;
  max-width: 415px;
  display: var(--flex);
  flex-direction: var(--flex-column);
  border-right: 1px solid var(--color1);
}

header {
  height: 60px;
  display: var(--flex);
  justify-content: var(--spaceBetween);
  padding: 0 var(--size15);
  align-items: var(--center);
}

.header--avatar {
  width: var(--size40);
  height: var(--size40);
  border-radius: var(--size20);
  cursor: var(--cursorPointer);
}
.header-buttons {
  display: var(--flex);
}
.header--btn {
  width: var(--size40);
  height: var(--size40);
  border-radius: var(--size20);
  display: var(--flex);
  justify-content: var(--center);
  align-items: var(--center);
  cursor: var(--cursorPointer);
}
.header--icon {
  color: #919191;
}
.search--icon {
  font-size: small;
}

.search {
  background-color: var(--bg3);
  border-bottom: 1px solid var(--color2);
  padding: 5px var(--size15);
}
.search--input {
  background-color: var(--color4);
  height: var(--size40);
  border-radius: var(--size20);
  display: var(--flex);
  align-items: var(--center);
  padding: 0 var(--size10);
}
.search--input input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  margin-left: var(--size10);
}
.chatList {
  flex: 1;
  background-color: var(--color4);
  overflow-y: auto;
}
.chatList::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.chatList::-webkit-scrollbar-thumb {
  background-color: rgba(54, 1, 70, 0.2);
}
.content-area {
  width: 75%;
}
