:root {
  --bg1: #d2dbdc;
  --bg2: #ededed;
  --bg3: #f6f6f6;
  --color1: #ddd;
  --flex: flex;
  --flex-column: column;
  --center: center;
  --size40: 40px;
  --size20: 20px;
  --size15: 15px;
  --size10: 10px;
  --cursorPointer: pointer;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--bg1);
  margin: 0;
  font-family: "Segoe UI", Helvetica Neue, Helvetica, Lucida Grande, Arial;
}
.app-window {
  display: var(--flex);

  height: 100vh;
  background-color: var(--bg2);
}
.sidebar {
  width: 35%;
  max-width: 415px;
  display: var(--flex);
  flex-direction: var(--flex-column);
  border-right: 1px solid var(--color1);
}

header {
  height: 60px;
  display: var(--flex);
  justify-content: space-between;
  padding: 0 var(--size15);
  align-items: var(--center);
}

.header--avatar {
  width: var(--size40);
  height: var(--size40);
  border-radius: var(--size20);
  cursor: var(--cursorPointer);
}
.header-buttons {
  display: var(--flex);
}
.header--btn {
  width: var(--size40);
  height: var(--size40);
  border-radius: var(--size20);
  display: var(--flex);
  justify-content: var(--center);
  align-items: var(--center);
  cursor: var(--cursorPointer);
}
.header--icon {
  color: #919191;
}
.search--icon {
  font-size: small;
}

.search {
  background-color: var(--bg3);
  border-bottom: 1px solid #eee;
  padding: 5px var(--size15);
}
.search--input {
  background-color: #fff;
  height: var(--size40);
  border-radius: var(--size20);
  display: var(--flex);
  align-items: var(--center);
  padding: 0 var(--size10);
}
.search--input input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  margin-left: var(--size10);
}

.content-area {
  width: 75%;
}
